<h1>Calculate the payment</h1>

<form action="/payment/results">
  <label for='giraffe'>APR</label>

  <input id='giraffe' type="text" name="user's_number">
  
  <label for='shark'>Number of years</label>

  <input id='shark' type="text" name="user's_number_2">
  
  <label for='fish'>Principal</label>

  <input id='fish' type="text" name="user's_number_3">

  <button>Calculate monthly payment</button>

</form>
