<h1>Calculate a random number</h1>

<form action="/random/results">
  <label for='giraffe'>Minimum</label>

  <input id='giraffe' type="text" name="user's_number">

  <label for='shark'>Maximum</label>

  <input id='shark' type="text" name="user's_number_2">
  
  <button>Pick random number</button>

</form>
